.project._container
	._body
		._content
			._row
				._column
					._title.col-2
						._icon._rotate-el-02
							+iconfont('sun', '_icon')
						h3 Избранные кейсы  
			._row
				.grid-box._column
					._content
						._item.-c1-r1.-title.split-trigger-01.lag-1
							a(href="https://gusli-studio.ru" target="_blank").split._split-link.split-01
								._line
									p Gysli 
								._line
									p Media-Group
								._line
									span.t-01901 UX/UI Design, Development 
						._item.-c2-r1.split-trigger-02.lag-2.tab-link
							figure._image.box-shadow.img-tr-01
								img(src="@@webRoot/img/project/project-02.png" alt="image")
								.filter-bg
									span UX/UI Design, вёрстка, интерактивность, адаптивность, тестирование и оптимизация.
						._item.-c1-r2.lag-1.tab-link
							figure._image.box-shadow.img-tr-02
								img(src="@@webRoot/img/project/project-01.png" alt="image")
								.filter-bg
									span Вёрстка, интерактивность, адаптивность, тестирование и оптимизация.
						._item.-c2-r2.-title.split-trigger-02.lag-2
							a(href="https://sadovskiy.art" target="_blank").split._split-link.split-02
								._line
									p Sadovskiy
								._line
									p Design
								._line
									span.t-01901 Development
						._item.-c2-r3.lag-1.tab-link
							figure._image.box-shadow.img-tr-03
								img(src="@@webRoot/img/project/project-03.png" alt="image")
								.filter-bg
									span Вёрстка, интерактивность, адаптивность, тестирование и оптимизация.
						._item.-c3-r3.-title.split-trigger-03.lag-2
							a(href="https://dennchik.github.io/Djongo/build/" target="_blank").split._split-link.split-03
								._line
									p Djonga
								._line
									span.t-01901 Development
						._item.-c2-r4.-title.split-trigger-04.lag-1
							a(href="https://dennchik.github.io/Te-Tkani/build/" target="_blank").split._split-link.split-04
								._line
									p Te Tkani
								._line
									span.t-01901 Development
						._item.-c3-r4.lag-2
							figure._image.box-shadow.img-tr-04.tab-link
								img(src="@@webRoot/img/project/project-04.png" alt="image")
								.filter-bg
									span Вёрстка, интерактивность, адаптивность, тестирование и оптимизация.
						._item.-c1-r5.-title.split-trigger-05.lag-1
							a(href="https://dennchik.github.io/EssenPro/build/" target="_blank").split._split-link.split-05
								._line
									p EssenPro
								._line
									span.t-01901 Development
						._item.-c2-r5.lag-2
							figure._image.box-shadow.img-tr-05.tab-link
								img(src="@@webRoot/img/project/project-05.png" alt="image")
								.filter-bg
									span Вёрстка, интерактивность, адаптивность, тестирование и оптимизация.
					.project-buttons._buttons.col-2
						._items
							._item-fade
								span Точно, это 
								span какие-то кнопки
							button(type="button")._item.item-button.button
								span Смотреть другие проекты 
								.running-line
									._inner
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
										span Смотреть другие проекты 
							a(href="mailto:awdes@yandex.ru?subject=🤝%20Информация%20о%20проекте.%20Давайте%20поговорим.")._item.button
								span Поговорим, скажи привет
								.running-line
									._inner
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
										span Поговорим, скажи привет
