.performance.el-4
	.parallax
		._inner
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
			figure._image-cont
				img(src="@@webRoot/img/parallax/pic-01.png" alt="image")
				._anime-swipe
	._body.top-box
		._content._container.col-2
			._row
				._column
					p.el-1 creative
				._column.el-3
					._icon
						+iconfont('snow', '_icon _rotate-el-01')
					._date
			hgroup._row.tr-row-01
				._column.el-2
					h1
						span front-end 
						span developer
				._column.bounce-01
					._text.t-01901
						p Я front-end разработчик и&nbsp;занимаюсь UX/UI дизайном.
						p У меня большой опыт работы в&nbsp;сфере цифровых технологий. Меня привлекает простота и&nbsp;мощь минималистичного и&nbsp;брутального дизайна, а&nbsp;также&nbsp;красота природы и&nbsp;искусства.