.gradient-preloader {
	background: linear-gradient(90deg, #2b3769 -23.739%, #93a9ff 96.778%);
}

@include _min-1440 {
	.underline {
		&:hover {
			font-weight: 600;
			opacity: 1;

			&::before {
				width: 47%;
			}

			&::after {
				width: 47%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: #000;
			opacity: 0.8;
			transition: width 0.4s ease-in-out;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: #000;
			opacity: 0.8;
			transition: width 0.4s ease-in-out;
		}
	}

	.underline-w {
		&:hover {
			font-weight: 600;
			opacity: 1;

			&::before {
				width: 47%;
			}

			&::after {
				width: 47%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: #fff;
			opacity: 0.8;
			transition: width 0.4s ease-in-out;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: #fff;
			opacity: 0.8;
			transition: width 0.4s ease-in-out;
		}
	}
}
