//* ------------------------------- [Variables] --------------------------------
$minWidth: 320px;
$maxWidth: 1900px;
$maxWidthContainer: 1920px;
//* ---------------------------- [Font Variables] ------------------------------
$font-path: '../fonts';
$font-defoult: 'averta-regular', sans-serif;
$font-size: 16px;
$font-family-secondary: 'Roboto', sans-serif;
$font-family-third: 'Inter', sans-serif;
$font-weight-defoult: 400;
//* ------------------------------ [Font color] --------------------------------
$font-color-defoult: #fff;
$font-color-secondary: #fff;
//* -------------------------------- [Color] -----------------------------------
$color: #2b3769;
$bg-color: #50597a;
$second-color: #171b1c;
//* ---------------------------- [Other colors] --------------------------------
$text-selection: #0054633f;
$text-color-selection: #9b9999;
//* ----------------------------------------------------------------------------
:root {
	//* ----------------------------[js-Variables]--------------------------------
	--convas-line-color: blueviolet;
	--anchor-color: #85cbce;
	--clip: left center;
	--size: 0;

	//* ---------------------------- [Scrollbar] ---------------------------------

	--background-thumb: #2b3769;
	--scrollbar-thumb-bgcolor: #757575;
	//* -------------------------- [Other colors] --------------------------------
	// --pos: center;
	// --size: 0;
	// --inset-top: 0;
	// --inset-right: 100%;
	// --inset-bottom: 100%;
	// --inset-left: 0;
	// ---------------------------------------------------------------------------
	--shadow-size: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
	--stripe-width: 10px;
	--nav-marker-border: #3b8686;
	--sidebar-width: 28.5rem;
	--duration: 0.3s;

	--button-size: 4rem;
	--mob-expanded-width: 320px;
	--mob-collapsed-width: 4rem;
}

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.masked-input {
	color: transparent; /* Скрыть текст, пока маска не активна */
}
.masked-input::placeholder {
	color: black; /* Цвет плейсхолдера */
}
// .shake {
// 	animation: shake 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
// }
