@use 'variables' as *;
@use 'mixins.scss' as *;
@use 'extend.scss' as *;

html {
	font: {
		style: normal;
		size: 62.5%;
		weight: $font-weight-default;
		family: $font-default;
		// font-family: 'Great Vibes', Helvetica, sans-serif;
	}
	height: 100%;
	counter-reset: heading;
	letter-spacing: 1.1px;
	color: var(--font-body-color);

	@include screen-1024 {
		font-size: 50%;
	}
}

body {
	// user-select: none;
	overscroll-behavior: none;
	font: 1.6rem/1.6 $font-default;
	background: $black-color;
	@extend .text-shadow;

	&.no-scroll {
		overflow: hidden;
	}

	@include screen-490 {
		font: 1.5rem/1.5 $font-default;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	scrollbar-width: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
svg {
	vertical-align: top;
	user-select: none;
	pointer-events: none;
	width: 100%;
	height: auto;
	max-width: 100%;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	vertical-align: baseline;
	background-color: transparent;
}

a:focus {
	text-decoration: none;
}

a:visited {
	vertical-align: middle;
	text-emphasis-style: none;
}

h2,
h3 {
	font-family: $font-family-secondary;
}

input,
button,
textarea {
	border: none;
}

button,
input[type='submit'] {
	display: inline-block;
	cursor: pointer;
	background: transparent none;
	box-shadow: none;
}

// input::-ms-clear {
// 	display: none;
// }

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

a:focus,
a:active,
input:focus,
textarea:focus {
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		weight: inherit;
		style: inherit;
	}
}

//  * Изменить стиль выделения текста
::selection {
	color: $text-color-selection;
	background-color: $text-selection;
	text-shadow: 0 1px 0 #000;
}

::-moz-selection {
	color: $text-color-selection;
	background-color: $text-selection;
	text-shadow: 0 1px 0 #000;
}

// * Изменить стиль полосы прокрутки (scrollbar)
::-webkit-scrollbar {
	width: 0.5rem;
	padding: 0.031em;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-thumb-bgcolor);
	// background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	background-color: var(--themes-color);
	background-image: -webkit-linear-gradient(
		45deg,
		var(--background-thumb) 25%,
		transparent 25%,
		transparent 50%,
		var(--background-thumb) 50%,
		var(--background-thumb) 75%,
		transparent 75%,
		transparent
	);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--background-thumb);
	background-image: -webkit-linear-gradient(
		45deg,
		var(--themes-color) 25%,
		transparent 25%,
		transparent 50%,
		var(--themes-color) 50%,
		var(--themes-color) 75%,
		transparent 75%,
		transparent
	);
}
