@use 'sass:string'; // Импортируем модуль string
$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-plus: string.unquote('"\\e911"');
$icon-check: string.unquote('"\\e90f"');
$icon-file-download: string.unquote('"\\e910"');
$icon-arow-down: string.unquote('"\\e90a"');
$icon-sun: string.unquote('"\\f185"');
$icon-snow: string.unquote('"\\e90d"');
$icon-cycle: string.unquote('"\\e917"');
$icon-arrow-left: string.unquote('"\\e918"');
$icon-arrow-right: string.unquote('"\\e919"');
$icon-hand-pointer: string.unquote('"\\f25a"');
$icon-hand-peace: string.unquote('"\\f25b"');
$icon-angle-left: string.unquote('"\\f104"');
$icon-angle-right: string.unquote('"\\f105"');
$icon-angle-up: string.unquote('"\\f106"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-hand-shake: string.unquote('"\\f2b6"');
$icon-volume-control-phone: string.unquote('"\\f2a0"');
$icon-youtube-logo: string.unquote('"\\f167"');
$icon-whatsapp: string.unquote('"\\f232"');
$icon-vk-brand: string.unquote('"\\f189"');
$icon-telegram-fly: string.unquote('"\\e91b"');
$icon-volume-high: string.unquote('"\\ea26"');
$icon-home: string.unquote('"\\e909"');
$icon-phone-ringing: string.unquote('"\\e904"');
$icon-phone-hand: string.unquote('"\\e908"');
$icon-angles-left-solid: string.unquote('"\\e94c"');
$icon-angles-right-solid: string.unquote('"\\e94f"');
$icon-angles-up-solid: string.unquote('"\\e94d"');
$icon-angles-down-solid: string.unquote('"\\e94e"');
$icon-contacts: string.unquote('"\\e901"');
$icon-services: string.unquote('"\\e903"');
$icon-git-hub-circle: string.unquote('"\\e921"');
$icon-youtube: string.unquote('"\\ea9d"');
$icon-location: string.unquote('"\\e924"');
$icon-enve-mail: string.unquote('"\\e925"');
