@use 'variables' as *;
@use 'mixins.scss' as *;

.box-shadow {
	box-shadow: 0 1px 10px #020101;
	backdrop-filter: blur(22px);
}

.font-size-calc-h2 {
	@include minmax-490-1920 {
		font-size: calc(28px + (50 - 28) * ((100vw - 490px) / (1920 - 490)));
	}
}

.top-box {
	padding: 6rem 0 8rem;
	min-height: 100vh;
	@include min-960 {
		padding: 8rem 0;
	}
}

.gradient-header {
	background-image: linear-gradient(
		-45deg,
		$black-color,
		rgba(61, 61, 61, 0.514) 65%,
		$black-color 75%
	);
}
.gradient-footer {
	background-image: linear-gradient(
		-40deg,
		$black-color 35%,
		rgba(199, 199, 199, 0.055) 65%,
		$black-color 75%
	);
}

.gradient-border-bottom {
	background-image: linear-gradient(
		to left top,
		rgb(52, 62, 85) 25%,
		transparent 75%
	);
}

.gradient-services {
	background-image: linear-gradient(
		to right,
		#050202ff 20%,
		#1c153f 50%,
		#050202ff 80%
	);
}

.icon-style {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1.5rem;
	border: 1px var(--border-color);
	border-style: none solid;
}

.text-shadow-pink {
	text-shadow:
		0 0 15px #000,
		0 0 1em #000,
		0 0 0.1em $neon-pink;
}

.text-shadow {
	text-shadow:
		0 0 15px #000,
		0 0 1em #000,
		0 0 0.2em blue;
}

.link_split {
	position: relative;
	outline: 0;
	line-height: 1;
	transition: color 0s 0.5s;
	display: inline-block;
	white-space: nowrap;

	&:hover {
		text-shadow: none;
		color: transparent;
		transition: none;

		&::before {
			transform: translate3d(0px, -2px, 0);
		}

		&::after {
			transform: translate3d(0px, 2px, 0);
		}

		&::before,
		&::after {
			@extend .text-shadow-pink;
			color: $luminescent-orange;
			transition:
				color 0.5s,
				transform 0.5s;
		}
	}

	&::before,
	&::after {
		content: attr(data-letters);
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		transition:
			color 0.5s,
			transform 0.5s;
	}

	&::before {
		clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 65%);
	}

	&::after {
		clip-path: polygon(0 65%, 100% 30%, 100% 100%, 0 100%);
	}
}

.link_underline {
	&::before,
	&::after {
		position: absolute;
		width: 0;
		height: 1px;
		content: '';
		transition: width 0.4s ease-in-out;
		opacity: 0.6;
		background-color: $neon-electric;
	}

	&::before {
		right: 0;
		bottom: 0;
	}

	&::after {
		bottom: 0;
		left: 0;
	}

	&._active {
		&::before {
			width: 45%;
		}

		&::after {
			width: 45%;
		}
	}

	&:hover {
		transition: color 0.4s ease-in-out;
		color: $neon-blue;

		&::before {
			width: 45%;
		}

		&::after {
			width: 45%;
		}

		a {
			opacity: 1;
		}
	}
}

.is-open {
	display: grid;
	width: 100%;
	transition: grid-template-rows 0.4s ease-in-out;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr;

	&._is-open {
		grid-template-rows: 1fr;
	}
}

//! ----------------------------------------------------------------------------
.transform-perspective {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	perspective: 100px;

	.transform-box {
		transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

		&:hover {
			opacity: 0.3 !important;
			transform-origin: 50% -100%;
			transform: rotateX(-16deg) translateZ(-22px);
		}
	}
}
//* ----------------------------------------------------------------------------
.grad_underline {
	/* Определяем фоновые изображения */
	transition: background-size 400ms;

	/* Размер фона для каждого слоя */
	background-image: linear-gradient(to left, transparent, transparent),
		linear-gradient(
			to left,
			var(--background-selected),
			var(--font-color-active)
		);

	/* Позиционирование фона */
	background-repeat: no-repeat;

	/* Повторение фона */
	background-position:
		100% 100%,
		/* Первое изображение */ 0 100%; /* Второе изображение */

	/* Переход для изменения размера фона */
	background-size:
		100% 1px,
		/* Первое изображение */ 0 1px; /* Второе изображение */
}
//! ----------------------------------------------------------------------------
.border-present {
	position: absolute;
	display: block;
	color: $neon-blue;
	background-image: linear-gradient(
			to right,
			currentColor 0%,
			$liquid-neon 8%,
			transparent 8%,
			transparent 92%,
			$liquid-neon 92%,
			currentColor 100%
		),
		linear-gradient(
			to right,
			currentColor 0%,
			$liquid-neon 8%,
			transparent 8%,
			transparent 92%,
			$liquid-neon 92%,
			currentColor 100%
		),
		linear-gradient(
			to bottom,
			currentColor 0%,
			$liquid-neon 11%,
			transparent 11%,
			transparent 89%,
			$liquid-neon 89%,
			currentColor 100%
		),
		linear-gradient(
			to bottom,
			currentColor 0%,
			$liquid-neon 11%,
			transparent 11%,
			transparent 89%,
			$liquid-neon 89%,
			currentColor 100%
		);
	background-repeat: no-repeat;
	background-position:
		0 0,
		0 100%,
		0 0,
		100% 0;
	background-size:
		100% 1px,
		100% 1px,
		1px 100%,
		1px 100%;
	inset: 0.7rem;
}
//* ----------------------------------------------------------------------------
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		content: '';
		border-radius: 50%;
		background: #2a3514;
		transition: background 0.5s ease-in-out;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	.swiper-pagination-bullet-active {
		width: 15px;
		height: 15px;
		content: '';
		border-radius: 50%;
		background: #9acd32;
		scale: 1.2;
		transition: scale 0.5s ease-in-out;
	}

	&.swiper-pagination-lock {
		display: none;
	}
}
