//* ------------------------------- [Variables] --------------------------------
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440px;
$headerHeight: 4rem;
$footerHeight: 4rem;
$sidebarWidth: 4rem;
$titleHeight: 3rem;
$min-height: calc(100% - ($headerHeight + $footerHeight));
//* ---------------------------- [Font Variables] ------------------------------
$font-path: '../fonts';
$font-default: 'Shantell Sans', sans-serif;
$font-family-secondary: 'Amatic SC', sans-serif;
$font-family-exclude: 'Rubik Wet Paint', sans-serif;
$font-family-exclude-secondary: 'Sofia Sans Extra Condensed', sans-serif;
$font-weight-default: 400;
$font-size: 1.6rem;
$font-size-default: 1.4rem;
//* ------------------------------ [Font color] --------------------------------
$font-color-var-name: rgb(119, 250, 255);
$font-color-var: rgb(205, 109, 250);
$font-color-other-var: rgb(233, 146, 135);
//* -------------------------------- [Color] -----------------------------------
$neon-green: rgb(56, 255, 20);
$neon-fuchsia: rgb(254, 89, 194);
$neon-pink: rgb(254, 1, 154);
$neon-red: rgb(255, 7, 58);
$neon-blue: rgb(4, 217, 255);
$neon-electric: rgb(125, 249, 255);
$neon-blue-dark: rgb(87, 87, 255);
$neon-purple: rgb(188, 19, 254);
$neon-carrot: rgb(255, 163, 67);
$neon-yellow: rgb(255, 234, 25);
$laser-lemon: rgb(254, 254, 34);
$luminescent-red: rgb(248, 0, 0);
$luminescent-orange: rgb(255, 164, 32);
$liquid-neon: rgb(200, 255, 0);
$electric-lime: rgb(204, 255, 0);

$background-color: rgb(20, 20, 24);
$background-color-transparent: rgba(19, 19, 22, 0.9);

$color: rgb(26, 21, 48);
$color-secondary: rgb(51, 39, 100);
$black-color: rgb(2, 1, 1);
$blue-color: rgb(73, 87, 123);
$blue-color-transparent: rgba(73, 87, 123, 0.404);
$gray: gray;
$orange: rgb(246, 116, 56);
$darkcyan: rgb(0, 139, 139);
$border-color: rgb(30, 32, 46);

//* ---------------------------- [Other colors] --------------------------------
$boxShadow: 0px 0px 2px 3px rgba(4, 217, 255, 0.699);
$BlackShadow: rgb(9, 17, 22);
$filter: drop-shadow(1px 0px 3px rgb(32, 25, 71)) invert(5%);
//* ----------------------------------------------------------------------------
$text-title: rgb(143, 242, 255);
$text-selection: rgba(0, 84, 99, 0.247);
$text-color-selection: rgb(155, 153, 153);
$text-shadow-color: 0 0 1px #b0b0f9;
//* ----------------------------------------------------------------------------
:root {
	//* --------------------------- [Font-collor] --------------------------------
	--background-color-transparent: rgba(19, 19, 22, 0.79);
	--font-body-color: rgb(255, 255, 255);
	--font-color-second: rgb(77, 91, 206);
	--font-color-title: rgb(136, 192, 255);
	--font-color-active: rgb(119, 150, 243);
	--font-color-not-active: rgba(139, 176, 255, 0.424);
	//* ---------------------------- [Pagination] --------------------------------
	--convas-line-color: rgba(66, 137, 139, 0.514);
	--anchor-color: #dadada;
	//* ---------------------------- [Background] --------------------------------
	--background-color: rgb(14, 14, 14);
	--background-second: rgb(2, 10, 16);
	--background-selected: rgba(43, 45, 65, 0.337);
	--background-terminal: rgb(22, 22, 30);
	--background-side-bar: rgb(25, 27, 39);
	--background-active-bar: rgb(30, 32, 46);
	--background-color-title: rgb(14, 14, 19);
	--background-transparent: rgba(14, 14, 19, 0.855);
	//* ---------------------------- [Scrollbar] ---------------------------------
	--selected-color: rgb(113, 203, 255);
	--themes-color: rgb(94, 77, 168);
	--background-thumb: rgb(22, 22, 30);
	--scrollbar-thumb-bgcolor: rgb(71, 83, 45);
	//* -------------------------- [Other colors] --------------------------------
	--border-color: rgba(60, 84, 141, 0.286);
	--color-active: rgb(4, 217, 255);
	// ---------------------------------------------------------------------------
	--pos: center center;
	--size: 0;
	--inset-top: 0;
	--inset-right: 100%;
	--inset-bottom: 100%;
	--inset-left: 0;
	// ---------------------------------------------------------------------------
	--stripe-width: 10px;
	--nav-marker-border: rgb(59, 134, 134);
	--sidebar-width: 28.5rem;
	--duration: 0.3s;

	--button-size: 4rem;
	--mob-expanded-width: 320px;
	--mob-collapsed-width: 4rem;
}

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
