.content-hidden
	._image 
	._body.animated-elements
		._items
			._item.item-1.tab-content
				._wrapper
					h2._item-heading.animation-line.uppercase
						span.split._split-item
							._line
								p Gysli
							._line
								p Media-Group
				._wrapper
					._item-text.animation-line.uppercase
						.split._split-item
							._line
								span.t-01901 Веб-сайт, посвященный созданию аудио и&nbsp;видеоклипов, а&nbsp;также кинопроизводству, брендингу и&nbsp;т.д.
				button._button
					svg(width="192" height="61" xmlns="http://www.w3.org/2000/svg")
						path(d="M190.67 59.618c-3.755-6.474-8.055-8.114-15.08-12.037-29.012-16.203-60.856-27.41-93.698-33.032-23.62-4.042-47.563-3.598-70.249 3.098.924 1.042 2.057.631 3.013 1.476.703.62 1.135 1.93 1.81 2.68 1.814 2.007 10 9.118 12.865 7.498-2.329-1.766-5.88-3.105-8.504-4.314-5.608-2.583-11.812-7.142-17.819-8.491 2.17-2.823 19.724-19.76522.96-12.718" stroke-width="3" fill="none" fill-rule="evenodd")
				.item-footer._item-footer
					._body._container 
						._column
							._text UX/UI DESIGN, DEVELOPMENT
						._column
							a(href="https://gusli-studio.ru" data-letters="Смотреть кейс" target="_blank")._link.link_split Смотреть кейс
			._item.item-2.tab-content
				._wrapper
					h2._item-heading.animation-line.uppercase
						span.split._split-itema
							._line
								p Sadovskiy
							._line
								p Design
				._wrapper
					._item-text.animation-line.uppercase
						.split._split-item
							._line
								span.t-01901 Верстка веб-сайт, для студии <br> веб-дизайна...
				button._button
					svg(width="192" height="61" xmlns="http://www.w3.org/2000/svg")
						path(d="M190.67 59.618c-3.755-6.474-8.055-8.114-15.08-12.037-29.012-16.203-60.856-27.41-93.698-33.032-23.62-4.042-47.563-3.598-70.249 3.098.924 1.042 2.057.631 3.013 1.476.703.62 1.135 1.93 1.81 2.68 1.814 2.007 10 9.118 12.865 7.498-2.329-1.766-5.88-3.105-8.504-4.314-5.608-2.583-11.812-7.142-17.819-8.491 2.17-2.823 19.724-19.76522.96-12.718" stroke-width="3" fill="none" fill-rule="evenodd")
				.item-footer._item-footer
					._body._container
						._column
							._text DEVELOPMENT
						._column
							a(href="https://sadovskiy.art" data-letters="Смотреть кейс" target="_blank")._link.link_split Смотреть кейс
			._item.item-3.tab-content
				._wrapper
					h2._item-heading.animation-line.uppercase
						span.split._split-itema
							._line
								p Djonga 
				._wrapper
					._item-text.animation-line.uppercase
						.split._split-item
							._line
								span.t-01901 Верстка веб-сайт "Доставка корпоратиного питания"...
				button._button
					svg(width="192" height="61" xmlns="http://www.w3.org/2000/svg")
						path(d="M190.67 59.618c-3.755-6.474-8.055-8.114-15.08-12.037-29.012-16.203-60.856-27.41-93.698-33.032-23.62-4.042-47.563-3.598-70.249 3.098.924 1.042 2.057.631 3.013 1.476.703.62 1.135 1.93 1.81 2.68 1.814 2.007 10 9.118 12.865 7.498-2.329-1.766-5.88-3.105-8.504-4.314-5.608-2.583-11.812-7.142-17.819-8.491 2.17-2.823 19.724-19.76522.96-12.718" stroke-width="3" fill="none" fill-rule="evenodd")
				.item-footer._item-footer
					._body._container 
						._column
							._text DEVELOPMENT
						._column
							a(href="https://dennchik.github.io/Djongo/build/" data-letters="Смотреть кейс" target="_blank")._link.link_split Смотреть кейс
			._item.item-4.tab-content
				._wrapper
					h2._item-heading.animation-line.uppercase
						span.split._split-itema
							._line
								p Te Tkani 
				._wrapper
					._item-text.animation-line.uppercase
						.split._split-item
							._line
								span.t-01901 Интернет магазин. Продажа тканей в&nbsp;"Обнинске"
				button._button
					svg(width="192" height="61" xmlns="http://www.w3.org/2000/svg")
						path(d="M190.67 59.618c-3.755-6.474-8.055-8.114-15.08-12.037-29.012-16.203-60.856-27.41-93.698-33.032-23.62-4.042-47.563-3.598-70.249 3.098.924 1.042 2.057.631 3.013 1.476.703.62 1.135 1.93 1.81 2.68 1.814 2.007 10 9.118 12.865 7.498-2.329-1.766-5.88-3.105-8.504-4.314-5.608-2.583-11.812-7.142-17.819-8.491 2.17-2.823 19.724-19.76522.96-12.718" stroke-width="3" fill="none" fill-rule="evenodd")
				.item-footer._item-footer
					._body._container 
						._column
							._text DEVELOPMENT
						._column
							a(href="https://dennchik.github.io/Te-Tkani/build/" data-letters="Смотреть кейс" target="_blank")._link.link_split Смотреть кейс
			._item.item-5.tab-content
				._wrapper
					h2._item-heading.animation-line.uppercase
						span.split._split-itema
							._line
								p EssenPro 
				._wrapper
					._item-text.animation-line.uppercase
						.split._split-item
							._line
								span.t-01901 Интернет магазин <strong> <br>"Свежие продукты питания оптом"</strong>..
				button._button
					svg(width="192" height="61" xmlns="http://www.w3.org/2000/svg")
						path(d="M190.67 59.618c-3.755-6.474-8.055-8.114-15.08-12.037-29.012-16.203-60.856-27.41-93.698-33.032-23.62-4.042-47.563-3.598-70.249 3.098.924 1.042 2.057.631 3.013 1.476.703.62 1.135 1.93 1.81 2.68 1.814 2.007 10 9.118 12.865 7.498-2.329-1.766-5.88-3.105-8.504-4.314-5.608-2.583-11.812-7.142-17.819-8.491 2.17-2.823 19.724-19.76522.96-12.718" stroke-width="3" fill="none" fill-rule="evenodd")
				.item-footer._item-footer
					._body._container 
						._column
							._text DEVELOPMENT
						._column
							a(href="https://dennchik.github.io/EssenPro/build/" data-letters="Смотреть кейс" target="_blank")._link.link_split Смотреть кейс