.offer-container._container#offer
	._body
		._title Специальное предложение
		._content
			._column.sr-1
				._wrapper
					a(href="#")._link
						._title-box
							span Пакет Домашний 
							span 5 000
								i.icon-rub
					._text Включает час звукозаписи сведение и&nbsp;мастеринг. 
				._thumbnail  
			._column.sr-2
				._wrapper
					a(href="#")._link
						._title-box
							span Пакет Комфорт 
							span 8 000
								i.icon-rub 
					._text Час звукозаписи, Продюсирование, отбор лучших дублей, нотная коррекция, сведение и&nbsp;мастеринг. 
				._thumbnail 
			._column.sr-3 
				._wrapper 
					a(href="#")._link 
						._title-box 
							span Пакет Профи 
							span 12 000
								i.icon-rub 
					._text Час звукозаписи, Педагог по&nbsp;вокалу поможет раскрыть ваш голос присутствуя на&nbsp;звукозаписи, Продюсирование, отбор лучших дублей, нотная коррекция, сведение и&nbsp;мастеринг. 
				._thumbnail 
			._column.sr-4 
				._wrapper 
					a(href="#")._link 
						._title-box 
							span Съемка в студии 
							span от 5 000
								i.icon-rub 
					._text При заказе клипа в&nbsp;нашей студии вы получаете не&nbsp;только профессиональное видео высокого качества, но&nbsp;и&nbsp;дополнительные преимущества! Мы рады предоставить вам скидку в&nbsp;размере 10% на &nbsp;ваш заказ. 
				._thumbnail
		._button._open-button 
			button(type="button").order-button.btn-grad
				span оставить заявку 