.project-list
	._body
		._content
			._header
				._title
					h2
						span Список избранных проектов 
						span (2023&nbsp;-&nbsp;2025)
				._close-button
					+iconfont('plus', '_icon')
			._list
				ul
					li._list-item
						a(href="https://dennchik.github.io/Blagoobninsk/build/" target="_blank")._link
							span Blagoobninsk
							span Design, in Development
							span 2025
					li._list-item
						a(href="https://gusli-studio.ru" target="_blank")._link
							span Gysli Media-Group
							span Design, Development
							span 2025
					li._list-item
						a(href="https://sadovskiy.art" target="_blank")._link
							span Sadovskiy Design
							span Development
							span 2024
					li._list-item
						a(href="https://dennchik.github.io/Djongo/build" target="_blank")._link
							span  Djonga
							span Development
							span 2024
					li._list-item
						a(href="https://dennchik.github.io/Te-Tkani/build/" target="_blank")._link
							span Te Tkani
							span Development
							span 2024
					li._list-item
						a(href="https://dennchik.github.io/EssenPro/build/" target="_blank")._link
							span EssenPro
							span Development
							span 2024
					li._list-item
						a(href="https://dennchik.github.io/CreativeCult/build/" target="_blank")._link
							span CreativeCult
							span Test work
							span 2023
					li._list-item
						a(href="https://dennchik.github.io/Clear-fit/public/" target="_blank")._link
							span ClearFit
							span Test work
							span 2023