@use '../core/all' as *;

.accelerate {
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

//* ----------------------------------------------------------------------------
.burger-menu {
	pointer-events: all;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	height: calc(100vh - 64px);
	left: 0;
	top: 64px;
	z-index: 13;
	perspective: 1000px;

	// .burger-menu__body
	&__body {
		height: 100%;
		margin: 0 15px;
		min-width: 288px;
	}

	// .burger-menu__content
	&__content {
		height: 100%;
		max-width: 400px;
		transform-origin: 200% 100%;
		box-shadow: -2px 0 7px #2b2b2b;
		border: 1px solid rgba(128, 128, 128, 0.322);
		border-top: none;
		border-bottom: none;

		&::before {
			top: 16%;
			right: -94%;
			background: transparent url('../img/rope.png') no-repeat left / cover;
			position: absolute;
			display: block;
			height: 30px;
			width: 100%;
			content: '';
			z-index: 1;
		}

		&::after {
			bottom: 16%;
			right: -94%;
			background: transparent url('../img/rope.png') no-repeat left / cover;
			position: absolute;
			display: block;
			height: 30px;
			width: 100%;
			content: '';
			z-index: 1;
		}
	}

	// .burger-menu__menu
	&__menu {
		display: flex;
		flex-direction: column;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
		border-radius: 3px;
		background-clip: padding-box;
		transform: translate3d(0, 0, 0);
		position: relative;
		height: 100%;

		transform-origin: 0 50%;
		background: $background-color;
		text-shadow: none;

		h1 {
			color: gray;
			font-size: 4.4rem;
			font-weight: 700;
			font-family: $font-family-secondary;
			color: red;
			text-shadow:
				0 0 2px #000,
				0 0 2px #000,
				0 0 1px blue;
		}

		.header__menu-items {
			height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4rem;
		}
	}

	// .burger-menu__menu-header
	&__menu-header {
		padding: 10px;
		line-height: 1;
		border-bottom: 1px solid $border-color;
		display: flex;
		gap: 1.6rem;
	}

	.header__icon-home {
		.icon-home {
			&::before {
				text-shadow:
					0 0 2px #000,
					0 0 2px #000,
					0 0 1px blue;
				font-size: 26px;
				color: #5e5bb1;
				transform: translateY(2px);
			}
		}
	}

	// .burger-menu__menu-content
	&__menu-content {
		overflow-x: hidden;
		height: 100%;
		width: 100%;

		padding: 16px 18px 16px 16px;
		align-self: start;
		color: #222;
		font-size: 2.4rem;
	}

	&__content,
	&__menu {
		transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	}

	&.hide {
		pointer-events: none;

		.burger-menu__menu {
			transform: rotateY(20deg);
		}

		.burger-menu__content {
			transform: translate3d(0, -10%, 0) rotateY(-90deg);
			opacity: 0;
		}
	}

	// .burger-menu__menu-footer
	&__menu-footer {
		width: 100%;
		padding: 10px;
		border-top: 1px solid $border-color;
	}

	// .burger-menu__download
	&__network-links {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	// .burger-menu__link
	&__icon-link {
		&:not(:last-child) {
			margin-right: 1rem;
		}

		._icon {
			&::before {
				// color: $black-color;
				font-size: 3.8rem;
				font-weight: 700;
				color: #5e5bb1;
			}
		}
	}
}
