.footer#contacts._container
	._body 
		._content
			._column
				h2._info 
					span It's 
					span contacts
			._column
				._title
					h3._text.t-01901 Вы занимаетесь <span>каким-то</span> проектом?
					a(href="mailto:awdes@yandex.ru?subject=🤝%20Информация%20о%20проекте.%20Давайте%20поговорим.")._button.button 
						span Свяжитесь со мной
						.running-line
							._inner
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
								span Свяжитесь со мной
			._column
				.contacts._contacts
					._items
						._column
							._item
								a(href="https://github.com/Dennchik" target="_blank" data-letters="Git-Hub")._link.link_split Git-Hub 
							._item
								a(href="https://t.me/allexandrw" target="_blank" data-letters="Telegram")._link.link_split Telegram 
							._item
								a(href="https://wa.me/79852605079" target="_blank" data-letters="WhatsApp")._link.link_split  WhatsApp
						._column
							._item |
							._item
								a(href="#" data-letters="v1").link_split v1
							._item
								a(href="#" data-letters="v2").link_split v2 
							._item
								a(href="#" data-letters="credits").link_split credits


