.header
	._container
		._content
			a(href="@@webRoot/index.html")._column.el-logo.transform-perspective
				._logo-wrpper.transform-box
					._logo
						img(src="@@webRoot/img/header/logo.png")
					._text
						span Slide-pagination  
			._column.el-community